# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/

# Archivos de entorno / secretos
.env
*.env

# Archivos de logs
*.log

# Configuración del IDE/editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Compilaciones / distribuciones
build/
dist/
*.egg-info/

# Base de datos SQLite local (si la usas)
*.sqlite3

# Archivos temporales
*.tmp
*.bak
*.swp
